caption {
  font-weight: bold;
  padding: 1em;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

th,
tfoot {
  background-color: #242936;
  color: orange;
}

tr:nth-child(even) {
  background-color: #fefdf8;
}
.anchor {
  color: #ff6f61;
  text-decoration: none;
}
.anchor:hover {
  color: white;
}

.section-table {
  padding: 3rem;
  margin-bottom: 2em;
}

/*==================== 
video section 
=======================*/
.section-videos {
  border: 2px solid yellow;
  padding: 2rem;
}

.title {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

ul {
  display: grid;
  border: 3px solid #ff6f61;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  gap: 10px;
}
ul li {
  border: 1px solid blue;
  min-width: 300px;
  max-width: 500px;
}

iframe {
  width: 100%;
  padding: 2px;
}

ul li p {
  color: #333;
  padding: 1rem;
}
